/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #010913;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Global container wrapper */
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
 

  @media (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@keyframes pulse-line {
  0%, 100% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.animate-pulse-line {
  animation: pulse-line 3s ease-in-out infinite;
  transform-origin: left;
}





.react-datepicker {
  border-radius: 1rem;
  font-family: inherit;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: none;
}

.react-datepicker__header {
  background-color: #facc15; /* Tailwind yellow-400 */
  border-bottom: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #eab308; /* Tailwind yellow-500 */
  color: white;
}

.react-datepicker__day:hover {
  background-color: #fde68a; /* Tailwind yellow-200 */
}
/* Add in global.css or BookAppointment.module.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Optional padding zone */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Tailwind gray-500 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* darker gray in dark mode */
  }
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind gray-700 */
  border-radius: 3px;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}



.no-scroll {
  overflow: hidden;
}


.field-label {
  @apply block text-[12px] font-medium text-gray-800 mb-1;
}

.field-input {
  @apply w-full rounded-md border border-gray-300/50 px-4 py-2.5
  bg-gray-100/60 text-gray-900
  focus:outline-none focus:ring-2 focus:ring-[#1e3a8a];
}
